
.community {
    width: 100%;
    top:0px;
    bottom: 0px;
    background: white;
    position: absolute;
}

.postList {
    width: 40%;
    position: absolute;
    background-color: white;
}


.postContent {
    top: 0;
    overflow: hidden;
    right: 0px;
    left: 40%;
    bottom: 0;
    position: absolute;
    border-left: 10px solid #F0F0F0;
}



.community .row:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #F0F0F0;
}

.community .row {
    padding-bottom: 5px;
    margin: 0 5px 5px;
    border-bottom: 1px solid #F0F0F0;
}

.community .post-title {
    margin-left: 5px;
}

.community .post-title a:hover{
    color:gray;
}

.community .post-buttom {
    margin-top: 2px;
}

.community .post-buttom .help {
    margin-left: 5px;
    color: orange;
    font-size: 0.8rem;
    padding: 1px;
    border-radius: 4px;
    border:1px solid orange;
}

.community .post-buttom .solve {
    margin-left: 5px;
    color: limegreen;
    font-size: 0.8rem;
    padding: 1px;
    border-radius: 4px;
    border:1px solid limegreen;
}

.community .post-buttom .author {
    margin-top: 5px;
    margin-right: 5px;
    color: grey;
    float: right;
    font-weight: bold;
    font-size: 0.9rem;
}

.community .post-buttom .answers-views {
    margin-left: 5px;
    margin-top: 6px;
    font-size: 0.8rem;
    float: right;
    color: deepskyblue;
}
