@value phone from './breakpoints.css';
@value tablet-portrait from './breakpoints.css';
@value tablet-landscape from './breakpoints.css';
@value desktop from './breakpoints.css';
@value big-desktop from './breakpoints.css';

.children {
    top: 90px;
    left:50%;
    bottom: 0;
    position: absolute;
}

@media phone {
    .children {
        width: 300px;
        margin-left: -150px;
    }
}

@media tablet-portrait {
    .children {
        width: 540px;
        margin-left: -270px;
    }
}

@media tablet-landscape {
    .children {
        width: 940px;
        margin-left: -470px;
    }
}

@media desktop {
    .children {
        width: 1240px;
        margin-left: -620px;
    }
}

@media big-desktop {
    .children {
        width: 1740px;
        margin-left: -870px;
    }
}

