* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  cursor: default;
  /*overflow: hidden;*/
}

/*::-webkit-scrollbar {
    width: 0px;
}*/

input {
  font-family: "Microsoft YaHei";
}

body{
  font-family: "Microsoft YaHei";
}

a {
  color:black;
  text-decoration: none;
}

li {
  list-style: none;
}

@media only screen and (min-width: 241px) and (max-width: 320px){  
  html {
    font-size: 0.8rem;
  }
}