@value phone from './breakpoints.css';
@value tablet-portrait from './breakpoints.css';
@value tablet-landscape from './breakpoints.css';
@value desktop from './breakpoints.css';

@value sidebar-profile from './icon.css';
@value sidebar-post from './icon.css';
@value sidebar-message from './icon.css';
@value sidebar-logout from './icon.css';

.sideBar{
    top: 34.5%;
    cursor: pointer;
    width:50px; 
    height:200px;
    border-radius: 5px;
    background: white;
    position: fixed;
    z-index: 11;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    border-radius: 5px;
}

.sideBar-hide {
    display: none;
}


.sideBar ul li {
    margin: 10px;
    width: 30px;
    height: 30px;
    /*border-bottom: 2px solid #F0F0F0;*/
}

.item {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.profile {
    composes: item;
    background-size: 28px;
    background-image: sidebar-profile;
}

.post {
    composes: item;
    background-size: 30px;
    background-image: sidebar-post;
}

.message {
    composes: item;
    background-size: 30px;
    background-image: sidebar-message;
}

.logout {
    composes: item;
    background-size: 28px;
    background-image: sidebar-logout;
}



