.container {
    position: absolute;
    left:100px;
    top: 100px;
    width:200px;
    height: 300px;
        overflow: hidden;
}
.wapper {
    top: 0;
    height: 100%;
    left:0;
    right:0;
        overflow: auto !important;
}