@value phone from '../../global/styles/breakpoints.css';
@value tablet-portrait from '../../global/styles/breakpoints.css';
@value tablet-landscape from '../../global/styles/breakpoints.css';
@value desktop from '../../global/styles/breakpoints.css';
@value big-desktop from '../../global/styles/breakpoints.css';

@value weibo from '../../global/styles/icon.css';
@value github from '../../global/styles/icon.css';
@value zhihu from '../../global/styles/icon.css';
@value twitter from '../../global/styles/icon.css';
@value location from '../../global/styles/icon.css';
@value signature from '../../global/styles/icon.css';
@value agrees from '../../global/styles/icon.css';
@value golds from '../../global/styles/icon.css';
@value setting-change from '../../global/styles/icon.css';
@value add from '../../global/styles/icon.css';
@value change from '../../global/styles/icon.css';
@value close-bold from '../../global/styles/icon.css';
@value ok from '../../global/styles/icon.css';


.icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center center;
}

.profile {
    width: 430px;
    height: 640px;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
}

.header {
    height: 190px;
    border-radius: 5px 5px 0 0;
    background-image: url(../../assets/images/profile-context.png);
}

.bg-chg-icon {
    composes:icon;
    float: right;
    background-size: 18px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-image: change;
}

.head-img {
    width: 87px;
    height: 87px;
    display: block;
    border-radius: 50%;
    border: 4px solid white;
    background-color: white;
}

.head-img-frm {
    border-radius: 50% 50% 13% 50%;
    width: 87px;
    height: 87px;
    margin-top: 70px;
    margin-left: 70px;
    float: left;
    background: white;
    user-select: none;
}

.infor {
    margin-top: 85px;
    margin-left: 20px;
    float: left;
}

.name {
    float: left;
    font-family: 'Source Sans Pro','Lucida Grande',sans-serif;
    color: white;
    font-size: 1.2rem;
}

.lv {
    margin-top: 135px;
    float: left;
    background: white;
    margin-left: -21px;
    color: orange;
    border-radius: 50%;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 2px;
}


.inp {
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    font-size: 0.9rem;
    color: #444;
    border-image: initial;
    border-radius: 5px;
}

.sig {
    height: 30px;
    line-height: 30px;
    clear: both;
    color: white;
    margin-top: 40px;
    vertical-align: middle;
}



.sig-inp {
    composes:inp;
    float: left;
    color: #444;
    border: 1px solid white;
    margin-top: 3px;
    width: 160px;
    height: 25px;
}

.circles {
    margin-left: 15px;
    float:left;
}


.bot {

}

.label {
    font-size: 1rem;
    float: left;
    vertical-align: middle;
    color: #444;
    display: inline-block;
    margin-left: 2px;
}

.sig-chg-btn {
    composes:icon;
    float: left;
    background-size: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    background-image: signature;
}

.sig-val {
    letter-spacing: 1px;
    max-width: 188px;
    height: 30px;
    font-size: 1rem;
    float: left;
}

.stuff {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
}

.arg-icon {
    composes:icon;
    margin-left: 15px;
    float: left;
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-image: agrees;
}

.gold-icon {
    composes:icon;
    margin-left: 20px;
    background-size: 25px;
    float: left;
    width: 25px;
    height: 25px;
    background-image: golds;
}

.weibo-icon {
    composes:icon;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    background-size: 20px;
    background-image: weibo;
}

.github-icon {
    composes:icon;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    width: 22px;
    height: 22px;
    background-size: 20px;
    background-image: github;
}

.bot-inf {
    width: 100%;
    float: left;
    border-bottom: 1px solid #F0F0F0;
}

.vitality {
    margin-top: -25px;
    background: white;
    border-radius: 5px;
    padding: 10px 5px;
    float: left;
    height: 70px;
    margin-left: 25px;
}

.following {
    float: left;
    border-right: 1px solid #F0F0F0;
    height: 50px;
    width: 75px;
}

.followers {
    float: left;
    border-right: 1px solid #F0F0F0;
    height: 50px;
    width: 75px;
}

.postings {
    float: left;
    height: 50px;
    width: 75px;
}

.vital-num {
    margin-top: 2px;
    color: #444;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.vital-num:hover {
    color: #6C78B6;
}

.vital-lbl {
    margin-top: 4px;
    font-size: 0.8rem;
    color: #919191;
    text-align: center;
}

.bot-set {
    padding: 0 30px;
    clear: both;
    overflow: hidden;
}

.cln {
    clear: both;
}

/*---------------exp--------------*/

.set-exp {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #F0F0F0;
    line-height: 50px;
}

.exp-lbl {
    margin-left: 30px;
    font-weight: bold;
    float: left;
}

.exp-bar {
    margin-left: 40px;
    float: left;
    width: 180px;
    height: 6px;
    background-color: #F0F0F0;
}

.exp-val {
    z-index: 1;
    position: relative;
    background-color: #619fe8;
    height: 100%;
    width: 20px;
    float: left;
    display: inline;
    font-size: 0.9rem;
    color: #444;
}

.exp-lv-start {
    font-size: 0.9rem;
    margin-left: 40px;
    line-height: 30px;
    float: left;
}

.exp-lv-end {
    margin-left: 110px;
    line-height: 30px;
    float: left;
    font-size: 0.9rem;
}

/*--------------email--------------*/

.set-em {
    padding-bottom: 20px;
    margin-top: 20px;
    line-height: 50px;
    border-bottom: 1px solid #F0F0F0;
}

.em-lbl {
    margin-left: 30px;
    font-weight: bold;
    float: left;
}

.em-val {
    font-size: 0.9rem;
    color: #444;
    margin-left: 80px;
    max-width: 170px;
    height: 50px;
    float: left;
}

.em-chg-btn {
    composes:icon;
    float: left;
    background-size: 15px;
    cursor: pointer;
    width: 30px;
    height: 51px;
    margin-left: 5px;
    background-image: setting-change;
}

.em-inp {
    composes:inp;
    float: left;
    color: #444;
    border: none;
    background: #F0F0F0;
    margin-top: 10px;
    margin-left: 80px;
    width: 170px;
    height: 30px;
}

/*--------------password--------------*/

.set-pwd {
    margin-top: 20px;
    line-height: 50px;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 20px;
}

.pwd-lbl {
    margin-left: 30px;
    margin-right: 45px;
    font-weight: bold;
    float: left;
}

.pwd-val {
    font-size: 0.9rem;
    color: #444;
    margin-left: 45px;
    max-width: 170px;
    height: 50px;
    float: left;
}

.pwd-val-hide {
    display: none;
}

.pwd-chg-btn {
    composes:icon;
    float: left;
    background-size: 15px;
    cursor: pointer;
    width: 30px;
    height: 51px;
    background-image: setting-change;
}

.pwd-ok-btn {
    composes:icon;
    float: left;
    background-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 51px;
    background-image: ok;
}

.pwd-inp {
    composes:inp;
    float: left;
    color: #444;
    border: none;
    background: #F0F0F0;
    margin-top: 10px;
    margin-right: 5px;
    width: 170px;
    height: 30px;
}

.pwd-inp-hide {
    display: none;
}

/*--------------circles--------------*/

.set-cir {
    clear: both;
    margin-top: 20px;
    vertical-align: middle;
    line-height: 51px;
}

.cir-lbl {
    margin-left: 30px;
    font-weight: bold;
    float: left;
}

.cir-val {
    font-size: 0.9rem;
    display: table-cell;
    max-width: 188px;
    height: 50px;
    float: left;
    margin-left: 55px;
}

.cir-weibo {
    composes:icon;
    float: left;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    background-size: 25px;
    background-image: weibo;
}

.cir-github {
    composes:icon;
    float: left;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    background-size: 25px;
    background-image: github;
}

.cir-del-btn {
    composes:icon;
    margin-top: 8px;
    margin-left: -22px;
    float: left;
    border-radius: 50%;
    background-size: 15px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-image: close-bold;
    display: inline-block;
}

.cir-del-btn-shim {
    margin-top: 8px;
    margin-left: -22px;
    float: left;
    border-radius: 50%;
    background-size: 15px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: white;
    vertical-align: middle;
}

.cir-weibo-del-btn {
    composes:cir-del-btn;
}

.cir-weibo-del-btn-shim {
    composes: cir-del-btn-shim;
}

.cir-github-del-btn {
    composes:cir-del-btn;
}

.cir-github-del-btn-shim {
    composes: cir-del-btn-shim;
}

.cir-add {
    composes:icon;
    float: left;
    background-size: 15px;
    cursor: pointer;
    width: 30px;
    height: 51px;
    vertical-align: middle;
    margin-left: 5px;
    background-image: add;
}

.cir-inp {
    composes:inp;
    display: block;
    clear: both;
    color: #444;
    border: none;
    background: #F0F0F0;
    margin-left: 150px;
    width: 170px;
    height: 30px;
}

