.post-frame{
    top: 0px;
    font-size:0.9rem;
    overflow: auto !important;
    position: absolute;
    padding: 15px;
    right: 0;
    bottom: 0;
}
.scrollBarContainer {
    right: 0;
    left: auto;
    width: 4px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 0px;
    background-color: transparent;
}

.scrollBarContainer.animated .scrollBar{
    transition: 2s opacity ease;
    opacity: 0;
}

.scrollBarContainer:hover .scrollBar{
    opacity: 0.5;
    transition: none;
}

.scrollBar {
    height: 1px;
    top: 5px;
    border-radius: 5px;
    opacity: 0.5;
    background-color: gray;
    left: 0px;
    right: 0px;
    user-select: none;
    position: absolute;
}

.post-info{
    height: 48px;
}

.post-author {
    float: left;
    clear: left;
}

.head-img{
    width: 48px;
    height: 48px;
    margin-right:5px;
    float:left;
}

.head-img img{
    width: 100%;
    border-radius: 5px;
}

.right{
    margin-left: 48px;
}

.title{
    overflow: hidden;
    margin-left:10px;
    height: 26px;
    line-height: 26px;
    font-size: 1.2rem;
}

.buttom {
    height:22px;
    line-height: 22px;
    margin-left: 10px;
}

.author{
    color: grey;
    font-size: 0.8rem;
}

.date{
    margin-left: 10px;
    color: #CFCFDA;
    font-size: 0.8rem;
}

.views{
    margin-left: 10px;
    color: #CFCFDA;
    font-size: 0.8rem;
}

.post-body {
    
}

.post-content {
    font-size: 0.9rem;
    margin-top: 15px;
    clear: both;
    padding-bottom: 15px;
    border-bottom: 1px solid #F0F0F0;
}

.reply-list{
    margin-top:5px;
}

.item{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F0F0F0;
}

.item:first-child{
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F0F0F0;
}

.reply-list .item .hend-img{
    float:left;
    width: 48px;
}

.reply-list .right{
    margin-left:53px;
}

.item .author{
    margin-left: 5px;
    color: grey;
    font-size: 0.8rem;
}

.item .content{
    font-size: 0.9rem;
    margin-left: 5px;
    margin-top: 5px;
}

.item .date{
    margin-left: 10px;
    color: #CFCFDA;
    font-size: 0.8rem;
}

.right-items{
    float:right;
    height: 17px;
    margin-right: 10px;
}

.top {
    height:22px;
    line-height: 22px;
}

.like{
    float:left;
    cursor: pointer;
    height: 13px;
    width:14px;
    line-height: 13px;
    margin: 3px 5px;
    color: #CFCFDA;
    font-size: 0.8rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 1024 1024' enable-background='new 0 0 1024 1024' xml:space='preserve'><path fill='#808080' d='M979.834379 696.157256c20.985362-26.767043 31.04977-55.461313 29.764952-85.012129-1.284818-32.548724-15.84609-58.030949-27.837725-73.662903 13.918862-34.690088 19.272271-89.294856-27.195316-131.693852-34.047679-31.04977-91.864492-44.968632-171.951485-41.114178-56.317859 2.569636-103.427854 13.062317-105.355082 13.49059l-0.214136 0c-10.706817 1.927227-22.056043 4.282727-33.619406 6.852363-0.856545-13.704726 1.498954-47.752405 26.767043-124.413216 29.979088-91.222083 28.265997-161.030531-5.567545-207.712254-35.546633-49.037223-92.292765-52.891677-108.995399-52.891677-16.060226 0-30.835634 6.638227-41.328315 18.843998-23.769134 27.623588-20.985362 78.588038-17.987453 102.143036-28.265997 75.804266-107.496445 261.674613-174.521121 313.281472-1.284818 0.856545-2.3555 1.927227-3.426182 2.997909-19.700544 20.771225-32.976997 43.255542-41.970724 62.956085-12.634044-6.852363-26.981179-10.706817-42.398996-10.706817l-130.62317 0c-49.251359 0-89.080719 40.043496-89.080719 89.080719l0 347.97156c0 49.251359 40.043496 89.080719 89.080719 89.080719l130.62317 0c19.058135 0 36.831451-5.995818 51.392723-16.274362l50.322041 5.995818c7.708908 1.070682 144.756169 18.415726 285.443747 15.631953 25.482225 1.927227 49.465496 2.997909 71.735675 2.997909 38.330406 0 71.735675-2.997909 99.5734-8.993726 65.525721-13.918862 110.280217-41.756587 132.97867-82.656629 17.345044-31.263906 17.345044-62.313676 14.561271-82.01422 42.613133-38.544542 50.107905-81.157675 48.60895-111.136763C987.757424 721.853618 983.902969 707.07821 979.834379 696.157256zM103.37432 957.83187c-17.345044 0-31.263906-14.132999-31.263906-31.263906L72.110414 578.382267c0-17.345044 14.132999-31.263906 31.263906-31.263906l130.62317 0c17.345044 0 31.263906 14.132999 31.263906 31.263906l0 347.97156c0 17.345044-14.132999 31.263906-31.263906 31.263906l-130.62317 0L103.37432 957.83187zM925.015475 671.103304c-8.993726 9.421999-10.706817 23.769134-3.854454 34.904224 0 0.214136 8.77959 15.20368 9.850272 35.76077 1.498954 28.051861-11.991635 52.891677-40.257633 74.091175-10.064408 7.708908-14.132999 20.985362-9.850272 32.976997 0 0.214136 9.207863 28.480134-5.781681 55.247177-14.347135 25.696361-46.25345 44.112087-94.648264 54.390632-38.758678 8.351317-91.436219 9.850272-156.105395 4.711-0.856545 0-1.927227 0-2.997909 0-137.68967 2.997909-276.878294-14.989544-278.377248-15.20368l-0.214136 0-21.627771-2.569636c1.284818-5.995818 1.927227-12.419908 1.927227-18.843998L323.07821 578.382267c0-9.207863-1.498954-18.201589-4.068591-26.552907 3.854454-14.347135 14.561271-46.25345 39.82936-73.448766 96.147219-76.232539 190.153074-333.410289 194.221665-344.545379 1.713091-4.496863 2.141363-9.421999 1.284818-14.347135-3.640318-23.983271-2.3555-53.31995 2.783772-62.09954 11.349226 0.214136 41.970724 3.426182 60.386449 28.908407 21.841907 30.193225 20.985362 84.155583-2.569636 155.677123-35.974906 108.995399-38.972815 166.38394-10.492681 191.652028 14.132999 12.634044 32.976997 13.276453 46.681723 8.351317 13.062317-2.997909 25.482225-5.567545 37.259724-7.494772 0.856545-0.214136 1.927227-0.428273 2.783772-0.642409 65.739858-14.347135 183.514847-23.126725 224.414889 14.132999 34.690088 31.692179 10.064408 73.662903 7.280636 78.159766-7.923045 11.991635-5.567545 27.623588 5.139272 37.259724 0.214136 0.214136 22.698453 21.413634 23.769134 49.893768C952.639063 632.344626 943.645337 651.831033 925.015475 671.103304z'/></svg>");
}

.reply{
    float:left;
    cursor: pointer;
    width:16px;
    height: 16px;
    margin: 2px 5px;
    line-height: 16px;
    color: #CFCFDA;
    font-size: 0.8rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 1024 1024' enable-background='new 0 0 1024 1024' xml:space='preserve'><path fill='#808080' d='M844.91496 861.747976 286.745678 861.747976c-61.397022 0-111.641851-50.244829-111.641851-111.641851l0-55.820925 0-19.546318L71.836115 546.368742c-5.576097-5.596083-8.374138-11.172179-8.374138-19.546318 0-8.374138 2.798041-13.950235 8.374138-19.526332l103.267713-128.370141 0-19.546318 0-55.820925c0-61.397022 50.244829-111.641851 111.641851-111.641851l558.189268 0c61.397022 0 111.621865 50.244829 111.621865 111.641851l0 446.547417C956.536824 811.503148 906.311982 861.747976 844.91496 861.747976zM900.735885 303.558709c0-30.698511-25.122414-55.820925-55.820925-55.820925L286.745678 247.737784c-30.698511 0-55.820925 25.122414-55.820925 55.820925l0 55.820925 0 25.122414c0 2.798041 0 8.374138-2.798041 11.172179 0 5.576097-2.798041 8.374138-5.576097 11.172179l-94.893574 120.015989 94.893574 120.015989c2.798041 2.778055 5.576097 5.576097 5.576097 11.152193 2.798041 2.798041 2.798041 5.576097 2.798041 11.172179l0 25.122414 0 55.820925c0 30.698511 25.122414 55.820925 55.820925 55.820925l558.189268 0c30.698511 0 55.820925-25.122414 55.820925-55.820925L900.755871 303.558709zM733.273109 582.64335c-30.698511 0-55.820925-25.122414-55.820925-55.820925 0-30.698511 25.122414-55.820925 55.820925-55.820925 30.698511 0 55.820925 25.122414 55.820925 55.820925C789.094034 557.540921 763.97162 582.64335 733.273109 582.64335zM565.830319 582.64335c-30.698511 0-55.820925-25.122414-55.820925-55.820925 0-30.698511 25.122414-55.820925 55.820925-55.820925s55.820925 25.122414 55.820925 55.820925C621.631258 557.540921 596.52883 582.64335 565.830319 582.64335zM398.367543 582.64335c-30.698511 0-55.820925-25.122414-55.820925-55.820925 0-30.698511 25.122414-55.820925 55.820925-55.820925s55.820925 25.122414 55.820925 55.820925C454.188468 557.540921 429.066054 582.64335 398.367543 582.64335z'/></svg>");
}

.floor{
    float:left;
    cursor: pointer;
    width:10px;
    margin-left: 10px;
    color: #CFCFDA;
    font-size: 0.8rem;
}

.reply-box {
    padding:10px;
    background-color: #fff;
    border-radius: 3px;
}

.reply-box textarea {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    height: 112px;
    outline: none;
}

.replyPrefix {
    color:deepskyblue;
}